Repository NoFxAiOS/nofx: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy

go-fmt:
  name: go fmt
  entry: gofmt
  args:
  - -w
  language: system

go-vet:
  name: go vet
  entry: bash -c 'go vet $(go list ./... | grep -v /scripts)'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

docs: add sponsor @1733055465
  README.md
Due: none

docs: update sponsors list (5 sponsors)
  README.md
Due: none

docs: update sponsors list (8 sponsors)
  README.md
Due: none

feat: 增强日志记录和错误处理，优化交易和订单管理界面
  api/server.go
  store/position.go
  store/position_builder.go
  trader/auto_trader.go
  trader/bitget_trader.go
  web/src/components/PendingOrdersPanel.tsx
Due: go-fmt, go-vet

skeleton opengradient client
  mcp/opengradient_client.go
  trader/auto_trader.go
Due: go-fmt, go-vet

implementation
  go.mod
  go.sum
  mcp/config.go
  mcp/opengradient_client.go
  mcp/options.go
Due: go-fmt, go-vet, go-mod-tidy

add test
  mcp/opengradient_client_test.go
Due: go-fmt, go-vet

scheme
  mcp/opengradient_client.go
  mcp/opengradient_client_test.go
  mcp/opengradient_integration_test.go
Due: go-fmt, go-vet

almost working
  mcp/opengradient_client.go
  mcp/opengradient_client_test.go
  mcp/opengradient_integration_test.go
Due: go-fmt, go-vet

working model
  mcp/opengradient_client.go
Due: go-fmt, go-vet

fix tests
  mcp/opengradient_client_test.go
Due: go-fmt, go-vet

switch to smarter default model
  mcp/opengradient_client.go
  mcp/opengradient_client_test.go
  mcp/opengradient_integration_test.go
Due: go-fmt, go-vet

rm unnecessary logs
  mcp/opengradient_client.go
Due: go-fmt, go-vet

feat: support weex exchange
  api/server.go
  hook/hooks.go
  hook/trader_hook.go
  manager/trader_manager.go
  store/exchange.go
  trader/auto_trader.go
  trader/interface.go
  trader/weex_trader.go
  web/src/components/traders/ExchangeConfigModal.tsx
  web/src/i18n/translations.ts
  web/src/types.ts
Due: go-fmt, go-vet

fix: parse UnrealizedPnl and LiquidatePrice as float in GetPositions
  trader/weex_trader.go
Due: go-fmt, go-vet

feat: add preset-aware methods for opening long and short positions in WeexTrader
  trader/auto_trader.go
  trader/weex_trader.go
Due: go-fmt, go-vet

fix: correct side casing in database position retrieval for accurate trading context
  trader/auto_trader.go
Due: go-fmt, go-vet

fix: convert APIKey, SecretKey, and Passphrase to string for Weex trader initialization
  api/server.go
  manager/trader_manager.go
Due: go-fmt, go-vet

security: fix critical vulnerabilities in trading platform
  api/backtest.go
  api/server.go
  config/config.go
  experience/experience.go
  web/src/components/strategy/IndicatorEditor.tsx
  web/src/lib/api.ts
Due: go-fmt, go-vet

Add MAX Exchange support (Taiwan spot exchange)
  api/server.go
  manager/trader_manager.go
  store/exchange.go
  trader/auto_trader.go
  trader/max_order_sync.go
  trader/max_trader.go
  web/public/exchange-icons/max.svg
  web/src/components/ExchangeIcons.tsx
  web/src/components/traders/ExchangeConfigModal.tsx
Due: go-fmt, go-vet

Fix MAX order sync to use correct store types
  trader/max_order_sync.go
Due: go-fmt, go-vet

Add CancelStopOrders method to MAXTrader
  trader/max_trader.go
Due: go-fmt, go-vet

Fix MAX Exchange form fields not showing in frontend
  web/src/components/traders/ExchangeConfigModal.tsx
Due: none

Add 'max' to valid exchange types in backend
  api/server.go
Due: go-fmt, go-vet

Add Champion-Challenger A/B testing risk control spec v1.1.1
  docs/architecture/CHAMPION_CHALLENGER_RISK_SPEC.md
Due: none

feat(risk): add core types for Champion-Challenger framework
  backtest/risk/types.go
  backtest/risk/types_test.go
Due: go-fmt, go-vet

feat(risk): add correlation matrix calculator
  backtest/risk/correlation.go
  backtest/risk/correlation_test.go
Due: go-fmt, go-vet

feat(risk): add portfolio risk calculator with dual metrics
  backtest/risk/portfolio.go
  backtest/risk/portfolio_test.go
Due: go-fmt, go-vet

Add regime calculator for market regime classification
  backtest/risk/regime.go
  backtest/risk/regime_test.go
Due: go-fmt, go-vet

feat(risk): add UCB budget allocator with water-fill method
  backtest/risk/budget.go
  backtest/risk/budget_test.go
Due: go-fmt, go-vet

feat(risk): add Risk Parity, Dominance, and Evidence gates
  backtest/risk/gates.go
  backtest/risk/gates_test.go
Due: go-fmt, go-vet

feat(abtest): add Champion-Challenger A/B test manager
  backtest/abtest/cycle.go
  backtest/abtest/manager.go
  backtest/abtest/manager_test.go
Due: go-fmt, go-vet

feat(backtest): integrate A/B test framework with runner
  backtest/config.go
  backtest/runner.go
  backtest/runner_abtest_test.go
Due: go-fmt, go-vet

docs: add implementation reference to risk spec v1.1.2
  docs/architecture/CHAMPION_CHALLENGER_RISK_SPEC.md
Due: none

docs: add Champion-Challenger implementation plan
  docs/plans/2026-01-22-champion-challenger-risk-framework.md
Due: none

fix(risk): fix budget allocator remaining budget and precision issues
  backtest/risk/budget.go
Due: go-fmt, go-vet

fix(risk): add final precision cleanup for budget constraints
  backtest/risk/budget.go
Due: go-fmt, go-vet

fix: handle empty AI500 coin list gracefully instead of error
  kernel/engine.go
  provider/nofxos/ai500.go
  trader/auto_trader.go
Due: go-fmt, go-vet

feat: add oi_low coin source for short opportunities
  kernel/engine.go
  provider/nofxos/oi.go
  store/strategy.go
Due: go-fmt, go-vet

feat: add OI Low coin source and improve Mixed mode UI
  kernel/engine.go
  provider/nofxos/oi.go
  store/strategy.go
  web/src/components/strategy/CoinSourceEditor.tsx
  web/src/types.ts
Due: go-fmt, go-vet

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
