Repository NoFxAiOS/nofx: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy

go-fmt:
  name: go fmt
  entry: gofmt
  args:
  - -w
  language: system

go-vet:
  name: go vet
  entry: bash -c 'go vet $(go list ./... | grep -v /scripts)'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

fix: remove unused imports and functions to fix TypeScript build errors
  web/src/App.tsx
Due: none

fix: improve responsive design for dashboard page on mobile, tablet and desktop screens
  web/src/pages/TraderDashboardPage.tsx
Due: none

fix: improve trader card responsive layout on mobile - ensure all info displays properly and buttons align correctly
  web/src/pages/TraderDashboardPage.tsx
Due: none

fix: adopt dev branch layout and styles for trader card, ensure full ID display on desktop
  web/src/pages/TraderDashboardPage.tsx
Due: none

fix: improve trader card responsive layout on mobile - ensure ID and trader name display completely and properly aligned
  web/src/pages/TraderDashboardPage.tsx
Due: none

fix: resolve hyperliquid order execution approval issue
  trader/hyperliquid_trader.go
Due: go-fmt, go-vet

feat: add current trader label above ID and move trader selector below avatar on mobile, full width
  web/src/pages/TraderDashboardPage.tsx
Due: none

fix: revert desktop changes and move trader selector to right of avatar on mobile
  web/src/pages/TraderDashboardPage.tsx
Due: none

fix: ensure avatar and trader selector fill one row on mobile with proper width and height
  web/src/pages/TraderDashboardPage.tsx
Due: none

fix: add trader name above ID on desktop, ensure stacked layout without overflow
  web/src/pages/TraderDashboardPage.tsx
Due: none

feat: add strategy description input field
  web/src/pages/StrategyStudioPage.tsx
Due: none

feat: add responsive design for desktop trader card on dashboard page
  web/src/pages/TraderDashboardPage.tsx
Due: none

fix: add responsive design for debug info module between trader card and total equity
  web/src/pages/TraderDashboardPage.tsx
Due: none

fix: align mobile trader card layout with desktop, move selector below on mobile
  web/src/pages/TraderDashboardPage.tsx
Due: none

fix: improve mobile responsive layout for system prompt and user prompt in decision card
  web/src/components/DecisionCard.tsx
Due: none

fix: change 交易对 to 币种 in position history module
  web/src/i18n/translations.ts
Due: none

Revert "fix: change 交易对 to 币种 in position history module"
  web/src/i18n/translations.ts
Due: none

fix: change 品种表现 to 币种表现 in symbol performance module
  web/src/i18n/translations.ts
Due: none

fix: improve mobile layout for position history filters (symbol, side, sort)
  web/src/components/PositionHistory.tsx
Due: none

fix: improve mobile layout for system prompt and user prompt buttons in decision card
  web/src/components/DecisionCard.tsx
Due: none

Revert "fix: improve mobile layout for system prompt and user prompt buttons in decision card"
  web/src/components/DecisionCard.tsx
Due: none

fix: adjust mobile layout for system/user prompt buttons to stack on left, keep desktop layout unchanged
  web/src/components/DecisionCard.tsx
Due: none

fix: align mobile text position with desktop for system/user prompt, keep buttons unchanged
  web/src/components/DecisionCard.tsx
Due: none

fix: adjust mobile button wrapping and left alignment for system/user prompt, keep desktop layout unchanged
  web/src/components/DecisionCard.tsx
Due: none

fix: center login page content horizontally and vertically
  web/src/components/LoginPage.tsx
Due: none

feat(交易策略): 增加止损和止盈调整功能
  kernel/engine.go
  trader/auto_trader.go
Due: go-fmt, go-vet

fix(trader): 改进止损止盈调整中的数量处理和日志显示
  trader/auto_trader.go
Due: go-fmt, go-vet

feat: 添加项目服务管理脚本 manage.sh
  manage.sh
Due: none

docs: add prerequisites section and reorganize README structure across all languages
  README.md
  docs/i18n/ja/README.md
  docs/i18n/ko/README.md
  docs/i18n/ru/README.md
  docs/i18n/uk/README.md
  docs/i18n/vi/README.md
  docs/i18n/zh-CN/README.md
  kernel/schema.go
  kernel/schema_test.go
Due: go-fmt, go-vet

feat(exchange): 添加 HTX 和 Gate.io 交易所支持
  api/server.go
  backtest/runner.go
  docs/API_REVIEW_REPORT.md
  docs/GATE_CREATION_FIX.md
  docs/HTX_API_COMPATIBILITY_ANALYSIS.md
  docs/HTX_API_MIGRATION_GUIDE.md
  docs/HTX_API_UPDATE_REPORT.md
  docs/HTX_GATE_FRONTEND_AUDIT.md
  docs/HTX_GATE_FULL_STACK_AUDIT.md
  docs/HTX_GATE_INTEGRATION.md
  docs/QUICK_START_HTX_GATE.md
  docs/TRADER_INTERFACE_COMPLETION_REPORT.md
  go.mod
  go.sum
  manager/trader_manager.go
  trader/auto_trader.go
  trader/exchange_test.go
  trader/gate_trader.go
  trader/htx_trader.go
  web/public/exchange-icons/gate.png
  web/public/exchange-icons/htx.png
  web/src/components/BacktestPage.tsx
  web/src/components/ExchangeIcons.tsx
  web/src/components/TradingViewChart.tsx
  web/src/components/traders/ExchangeConfigModal.tsx
Due: go-fmt, go-vet, go-mod-tidy

feat(scripts): 添加Gate.io和HTX API连接诊断脚本
  scripts/test_gate_connection.sh
  scripts/verify_gate_api.sh
  scripts/verify_htx_api.sh
Due: none

feat(trader): 添加HTX统一账户API支持，优化账户余额获取逻辑
  trader/htx_trader.go
Due: go-fmt, go-vet

feat(trader): 添加HTX和Gate.io交易所支持，优化订单处理逻辑
  api/server.go
  docs/API_REVIEW_REPORT.md
  docs/GATE_CREATION_FIX.md
  docs/HTX_API_COMPATIBILITY_ANALYSIS.md
  docs/HTX_API_MIGRATION_GUIDE.md
  docs/HTX_API_UPDATE_REPORT.md
  docs/HTX_GATE_FRONTEND_AUDIT.md
  docs/HTX_GATE_FULL_STACK_AUDIT.md
  docs/HTX_GATE_INTEGRATION.md
  docs/QUICK_START_HTX_GATE.md
  docs/TRADER_INTERFACE_COMPLETION_REPORT.md
  trader/bitget_trader.go
  trader/gate_trader.go
  trader/htx_trader.go
Due: go-fmt, go-vet

refactor(prompt_builder): 简化交易决策提示文本
  kernel/prompt_builder.go
Due: go-fmt, go-vet

refactor(schema): 移除Prompt中的交易规则和常见错误部分
  kernel/schema.go
Due: go-fmt, go-vet

refactor: 移除未使用的fmt导入
  kernel/schema.go
Due: go-fmt, go-vet

fix: handle large Binance trade IDs in Go to avoid database CAST limitations
  store/order.go
Due: go-fmt, go-vet

feat(交易): 添加实时持仓计数功能以增强交易执行
  trader/auto_trader.go
Due: go-fmt, go-vet

fix(store): resolve Binance trade ID integer overflow in GetMaxTradeIDsByExchange
  store/order.go
Due: go-fmt, go-vet

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
