Repository NoFxAiOS/nofx: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy

go-fmt:
  name: go fmt
  entry: gofmt
  args:
  - -w
  language: system

go-vet:
  name: go vet
  entry: bash -c 'go vet $(go list ./... | grep -v /scripts)'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

fix: adaptive price precision for meme coins
  store/position.go
  store/position_builder.go
  trader/auto_trader.go
  trader/gate/order_sync.go
  web/src/components/PositionHistory.tsx
  web/src/pages/TraderDashboardPage.tsx
  web/src/utils/format.ts
Due: go-fmt, go-vet

test: add unit tests for Gate trade expansion
  trader/gate/order_sync_test.go
Due: go-fmt, go-vet

chore: remove broken test file
  trader/gate/order_sync_test.go
Due: go-fmt, go-vet

feat(web): add Agent Terminal panel to landing page
  web/src/components/landing/brand/AgentTerminal.tsx
  web/src/components/landing/brand/BrandHero.tsx
  web/src/components/landing/core/TerminalHero.tsx
  web/src/index.css
Due: none

chore: update AI model to Claude Opus 4.6
  web/src/components/landing/core/TerminalHero.tsx
Due: none

chore: update AI model display to Claude Opus 4.6
  web/src/components/landing/core/TerminalHero.tsx
Due: none

chore: update GitHub stats defaults (stars 10,500+, forks 2,800+, community 6,600+)
  web/src/components/landing/core/TerminalHero.tsx
Due: none

feat: remove rsi, performance stats, position metrics, market data, oi interpretation
  kernel/engine.go
  kernel/schema.go
Due: go-fmt, go-vet

feat: change login expire period
  auth/auth.go
Due: go-fmt, go-vet

feat(web): improve grid direction adjustment UI clarity
  web/src/components/strategy/GridConfigEditor.tsx
Due: none

chore: upgrade Claude model to Opus 4.6
  api/server.go
  mcp/claude_client.go
  web/src/components/AITradersPage.tsx
Due: go-fmt, go-vet

chore: upgraded Claude model to Opus 4.6
  api/server.go
  mcp/claude_client.go
  web/src/components/AITradersPage.tsx
Due: go-fmt, go-vet

feat(i18n): add 42 translation keys for TraderConfigModal (#1374)
  web/src/components/TraderConfigModal.tsx
  web/src/i18n/translations.ts
Due: none

feat(i18n): add consolidated translation keys for strategy components (#1375)
  web/src/components/TraderConfigModal.tsx
  web/src/i18n/strategy-translations.ts
  web/src/i18n/translations.ts
Due: none

feat(market): enhance open interest data retrieval with multiple sources and improved error handling
  market/data.go
Due: go-fmt, go-vet

feat(strategy): Add Hyperliquid coin sources (hyper_all, hyper_main)
  kernel/engine.go
  provider/hyperliquid/coins.go
  store/strategy.go
Due: go-fmt, go-vet

feat(hyperliquid): Add Unified Account support for Spot as Perp collateral
  api/server.go
  manager/trader_manager.go
  store/exchange.go
  trader/auto_trader.go
  trader/hyperliquid/trader.go
Due: go-fmt, go-vet

docs: move and optimize OFFICIAL_ACCOUNTS.md to docs/community
  docs/community/OFFICIAL_ACCOUNTS.md
  docs/community/README.md
Due: none

feat(strategy): Add Hyperliquid coin sources (hyper_all, hyper_main) (#1388)
  kernel/engine.go
  provider/hyperliquid/coins.go
  store/strategy.go
Due: go-fmt, go-vet

feat(hyperliquid): Add Unified Account support for Spot as Perp collateral (#1387)
  api/server.go
  manager/trader_manager.go
  store/exchange.go
  trader/auto_trader.go
  trader/hyperliquid/trader.go
Due: go-fmt, go-vet

feat: add multi-coin K-line chart market dashboard
  api/server.go
  market/monitor.go
  web/package-lock.json
  web/package.json
  web/src/App.tsx
  web/src/components/KlineChart.tsx
  web/src/components/MarketDashboard.tsx
  web/src/i18n/translations.ts
  web/src/lib/api.ts
  web/src/types.ts
Due: go-fmt, go-vet

Official Accounts
  docs/community/OFFICIAL_ACCOUNTS.md
Due: none

fix(web): cycle number not showing
  web/src/components/EquityChart.tsx
Due: none

feat(i18n): add Indonesian (Bahasa Indonesia) language support
  web/src/components/Header.tsx
  web/src/components/HeaderBar.tsx
  web/src/components/LoginRequiredOverlay.tsx
  web/src/components/PositionHistory.tsx
  web/src/contexts/LanguageContext.tsx
  web/src/i18n/translations.ts
  web/src/pages/StrategyMarketPage.tsx
Due: none

feat(trader): add Indodax exchange integration
  manager/trader_manager.go
  store/exchange.go
  trader/auto_trader.go
  trader/indodax/trader.go
  trader/indodax/trader_test.go
  web/public/exchange-icons/indodax.png
  web/public/exchange-icons/indodax.svg
  web/src/components/ExchangeIcons.tsx
  web/src/components/traders/ExchangeConfigModal.tsx
Due: go-fmt, go-vet

fix: type validation at server.go for indodax exchange
  api/server.go
Due: go-fmt, go-vet

fix(web): cycle number not showing (#1398)
  web/src/components/EquityChart.tsx
Due: none

feat(i18n): add Indonesian (Bahasa Indonesia) language support (#1399)
  web/src/components/Header.tsx
  web/src/components/HeaderBar.tsx
  web/src/components/LoginRequiredOverlay.tsx
  web/src/components/PositionHistory.tsx
  web/src/contexts/LanguageContext.tsx
  web/src/i18n/translations.ts
  web/src/pages/StrategyMarketPage.tsx
Due: none

feat(trader): add Indodax exchange integration (#1400)
  api/server.go
  manager/trader_manager.go
  store/exchange.go
  trader/auto_trader.go
  trader/indodax/trader.go
  trader/indodax/trader_test.go
  web/public/exchange-icons/indodax.png
  web/public/exchange-icons/indodax.svg
  web/src/components/ExchangeIcons.tsx
  web/src/components/traders/ExchangeConfigModal.tsx
Due: go-fmt, go-vet

feat(trader): add configurable profit drawdown close
  store/strategy.go
  trader/auto_trader.go
  trader/drawdown_test.go
Due: go-fmt, go-vet

feat(web): add RiskControl UI for profit drawdown close
  web/src/components/strategy/RiskControlEditor.tsx
  web/src/types.ts
Due: none

docs: use main OFFICIAL_ACCOUNTS.md
  docs/community/OFFICIAL_ACCOUNTS.md
Due: none

refactor(auth): remove OTP flows from login/register/reset
  api/register_otp_test.go
  api/server.go
  auth/auth.go
  go.mod
  go.sum
  store/user.go
  web/src/components/LoginPage.tsx
  web/src/components/RegisterPage.tsx
  web/src/components/ResetPasswordPage.tsx
  web/src/contexts/AuthContext.tsx
  web/src/i18n/translations.ts
Due: go-fmt, go-vet, go-mod-tidy

Update OpenAI default model from gpt-5.2 to gpt-5.4
  mcp/openai_client.go
Due: go-fmt, go-vet

feat(strategy): add macro-micro multi-turn AI flow
  api/strategy.go
  api/strategy_test.go
  backtest/config.go
  backtest/datafeed.go
  backtest/runner.go
  backtest/runner_test.go
  debate/engine.go
  docs/architecture/BACKTEST_MODULE.md
  docs/architecture/MACRO_MICRO_MERGED_DECISIONS.md
  kernel/engine.go
  kernel/engine_test.go
  kernel/macro.go
  kernel/macro_test.go
  market/data.go
  market/timeframe_test.go
  market/types.go
  store/decision.go
  store/strategy.go
  store/strategy_test.go
  web/src/components/DecisionCard.tsx
  web/src/components/strategy/MacroDeepDivePromptEditor.tsx
  web/src/pages/StrategyStudioPage.tsx
  web/src/types.ts
Due: go-fmt, go-vet

fix(kernel): cap restrictDeepDiveSymbolsToContext to maxDeepDives
  kernel/engine.go
  kernel/engine_test.go
Due: go-fmt, go-vet

fix(web): resolve build errors and add macro-micro UI tests
  web/src/components/DecisionCard.tsx
  web/src/components/TraderConfigModal.tsx
  web/src/contexts/AuthContext.tsx
  web/src/i18n/strategy-translations.ts
  web/src/i18n/translations.ts
  web/src/pages/StrategyStudioMacroMicro.test.ts
Due: none

feat(trader): persist and return multi-turn steps for dashboard decisions
  store/decision.go
  trader/auto_trader.go
Due: go-fmt, go-vet

fix(kernel): respect excluded coins in macro-micro multi-turn flow
  kernel/engine.go
  kernel/engine_test.go
  kernel/macro.go
  kernel/macro_test.go
Due: go-fmt, go-vet

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
