Repository NoFxAiOS/nofx: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy

.pre-commit-config.yaml:

# Pre-commit configuration for NOFX
# See https://pre-commit.com for more information
# Note: This project also uses Husky + lint-staged in web/ directory
repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: '.*tsconfig\.json$'  # Exclude tsconfig.json files that support comments
      - id: check-toml
      - id: check-added-large-files
      - id: check-merge-conflict

  # Go code quality (local hooks for better control)
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt
        args: [-w]
        language: system
        files: \.go$

      - id: go-vet
        name: go vet
        entry: bash -c 'go vet $(go list ./... | grep -v /scripts)'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

feat(mcp): add context length guard to prevent oversized requests
  mcp/client.go
  mcp/config.go
  mcp/context_guard.go
  mcp/context_guard_test.go
  mcp/options.go
Due: go-fmt, go-vet

fix(scripts): add go:build ignore to prevent multi-main build error
  scripts/cleanup_duplicates.go
  scripts/clear_orders.go
  scripts/diagnose_orders.go
  scripts/fix_order_data.go
Due: go-fmt, go-vet

docs: add reliability and RAG failure checklist for multi-AI trading
  docs/guides/RELIABILITY_CHECKLIST.md
Due: none

fix(kernel): optimize kline data formatting to reduce token waste by 90%
  kernel/formatter.go
Due: go-fmt, go-vet

security(store): encrypt Telegram BotToken in database
  store/telegram_config.go
Due: go-fmt, go-vet

fix(trader): guard against division by zero and fix peak PnL logic for short positions
  trader/auto_trader_risk.go
Due: go-fmt, go-vet

feat: AI cost tracking, pre-launch balance check, low balance alerts
  api/handler_ai_cost.go
  api/handler_wallet.go
  api/server.go
  store/ai_charge.go
  store/store.go
  trader/auto_trader.go
  trader/auto_trader_loop.go
  wallet/usdc.go
  web/package-lock.json
  web/package.json
  web/src/components/trader/ModelConfigModal.tsx
  web/src/components/trader/model-constants.ts
Due: go-fmt, go-vet

fix: add AICharge store accessor and fix brace mismatch in auto_trader_loop
  store/store.go
  trader/auto_trader_loop.go
Due: go-fmt, go-vet

fix: cleanup prompt_builder and add AICharge store accessor
  kernel/prompt_builder.go
Due: go-fmt, go-vet

feat: update default MiniMax model to M2.7
  api/handler_ai_model.go
  mcp/provider/minimax.go
  mcp/providers.go
  web/src/components/trader/model-constants.ts
Due: go-fmt, go-vet

docs: add project takeover baseline
  docs/ACCEPTANCE.md
  docs/ARCHITECTURE_CN.md
  docs/CHANGE_IMPACT.md
  docs/DECISIONS.md
  docs/DEVLOG.md
  docs/MODULE_INDEX_CN.md
  docs/PROJECT_OVERVIEW_CN.md
  docs/RISKS.md
  docs/TEST_PLAN.md
  docs/TODO.md
Due: none

docs: add architecture and risk worker notes
  docs/API_UI_MAPPING_WORKER_NOTES.md
  docs/ARCHITECTURE_WORKER_NOTES.md
  docs/RISK_AUDIT_WORKER_NOTES.md
Due: none

docs: refine api ui mapping and keep worker heartbeat
  docs/API_UI_MAPPING_WORKER_NOTES.md
Due: none

fix: align public trader config route
  docs/FIX_CANDIDATES.md
  web/src/lib/api/data.ts
Due: none

feat: init nofxi - AI Trading Agent module
  nofxi/.gitignore
  nofxi/LICENSE
  nofxi/README.md
  nofxi/config.example.yaml
  nofxi/go.mod
  nofxi/go.sum
  nofxi/internal/agent/agent.go
  nofxi/internal/agent/config.go
  nofxi/internal/agent/router.go
  nofxi/internal/agent/scheduler.go
  nofxi/internal/agent/watchcmd.go
  nofxi/internal/execution/bridge.go
  nofxi/internal/execution/execution.go
  nofxi/internal/interaction/formatter.go
  nofxi/internal/interaction/interaction.go
  nofxi/internal/interaction/telegram.go
  nofxi/internal/interaction/web.go
  nofxi/internal/memory/memory.go
  nofxi/internal/memory/models.go
  nofxi/internal/memory/store.go
  nofxi/internal/perception/market.go
  nofxi/internal/perception/perception.go
  nofxi/internal/thinking/engine.go
  nofxi/internal/thinking/llm.go
  nofxi/internal/thinking/thinking.go
Due: go-fmt, go-vet, go-mod-tidy

feat(nofxi): Phase 3 complete - Exchange factory, Web UI, Strategy runner, Docker
  nofxi/Dockerfile
  nofxi/config.yaml
  nofxi/docker-compose.yml
  nofxi/go.mod
  nofxi/go.sum
  nofxi/internal/agent/agent.go
  nofxi/internal/agent/router.go
  nofxi/internal/agent/scheduler.go
  nofxi/internal/agent/strategy.go
  nofxi/internal/execution/factory.go
  nofxi/internal/interaction/telegram.go
  nofxi/internal/interaction/web.go
  nofxi/internal/thinking/llm.go
  nofxi/nofxi.db-shm
  nofxi/nofxi.db-wal
  nofxi/web/index.html
Due: go-fmt, go-vet, go-mod-tidy

chore: gitignore secrets, db, binary
  nofxi/.gitignore
  nofxi/config.yaml
  nofxi/nofxi.db-shm
  nofxi/nofxi.db-wal
Due: none

feat(nofxi): redesign Web UI - professional trading platform style
  nofxi/web/index.html
Due: none

feat(nofxi): K-line chart with TradingView lightweight-charts
  nofxi/internal/interaction/kline.go
  nofxi/internal/interaction/web.go
  nofxi/web/index.html
Due: go-fmt, go-vet

feat(nofxi): i18n bilingual UI + professional trading terminal redesign
  nofxi/web/index.html
Due: none

feat(nofxi): full i18n bilingual support (zh/en)
  nofxi/internal/agent/agent.go
  nofxi/internal/agent/i18n.go
  nofxi/internal/interaction/web.go
  nofxi/web/index.html
Due: go-fmt, go-vet

fix(nofxi): prevent IME composition enter from sending message
  nofxi/web/index.html
Due: none

feat(nofxi): proactive intelligence - Sentinel, Brain, Learner
  nofxi/internal/agent/brain.go
  nofxi/internal/memory/learner.go
  nofxi/internal/perception/news.go
  nofxi/internal/perception/sentinel.go
Due: go-fmt, go-vet

docs(nofxi): NOFX integration audit + plan
  nofxi/docs/nofx-integration-plan.md
Due: none

feat: NOFXi Agent integrated into NOFX core
  agent/agent.go
  agent/brain.go
  agent/i18n.go
  agent/router.go
  agent/scheduler.go
  agent/sentinel.go
  agent/web.go
  main.go
  web/nofxi.html
Due: go-fmt, go-vet

fix: NOFXi Agent real AI integration + quality improvements
  agent/agent.go
  agent/router.go
  agent/web.go
  main.go
  trader/auto_trader.go
  web/nofxi.html
Due: go-fmt, go-vet

feat: conversational onboarding — setup exchange & AI via chat
  agent/agent.go
  agent/onboard.go
Due: go-fmt, go-vet

fix: remove stale frontend api references
  api/server.go
  docs/FIX_CANDIDATES.md
  web/src/contexts/AuthContext.tsx
  web/src/lib/api/config.ts
Due: go-fmt, go-vet

docs: remove stale admin mode wording
  api/server.go
Due: go-fmt, go-vet

perf: lazy-load top-level app pages
  web/src/App.tsx
Due: none

perf: split dashboard heavy sections into lazy chunks
  web/src/pages/TraderDashboardPage.tsx
Due: none

perf: split shared vendor chunks in vite build
  web/vite.config.ts
Due: none

perf: lazy-load katex in metric tooltip
  web/src/components/common/MetricTooltip.tsx
Due: none

perf: lazy-load recharts entry components
  web/src/components/charts/ChartTabs.tsx
  web/src/components/trader/CompetitionPage.tsx
Due: none

docs: record delivery progress and perf status
  docs/FIX_CANDIDATES.md
Due: none

refactor: route core frontend calls through shared api layer
  web/src/lib/api/strategies.ts
  web/src/lib/config.ts
  web/src/pages/SettingsPage.tsx
  web/src/pages/StrategyMarketPage.tsx
Due: none

refactor: route crypto service requests through http client
  web/src/lib/crypto.ts
Due: none

refactor: route password reset through http client
  web/src/contexts/AuthContext.tsx
Due: none

docs: codify fuxi delivery workflow
  docs/FUXI_WORKFLOW_CN.md
Due: none

docs: add closure and memory archive for handover
  docs/ACCEPTANCE.md
  docs/PROJECT_HANDOVER_CLOSURE_CN.md
  docs/PROJECT_MEMORY_ARCHIVE_CN.md
Due: none
