Repository NoFxAiOS/nofx: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy

.pre-commit-config.yaml:

# Pre-commit configuration for NOFX
# See https://pre-commit.com for more information
# Note: This project also uses Husky + lint-staged in web/ directory
repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: '.*tsconfig\.json$'  # Exclude tsconfig.json files that support comments
      - id: check-toml
      - id: check-added-large-files
      - id: check-merge-conflict

  # Go code quality (local hooks for better control)
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt
        args: [-w]
        language: system
        files: \.go$

      - id: go-vet
        name: go vet
        entry: bash -c 'go vet $(go list ./... | grep -v /scripts)'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

docs: sync handover logs, todo and decisions
  docs/DECISIONS.md
  docs/DEVLOG.md
  docs/TODO.md
Due: none

docs: add detailed project manual for review
  docs/PROJECT_MANUAL_CN.md
Due: none

feat: add Novita AI as LLM provider
  api/handler_ai_model.go
  mcp/provider/novita.go
  mcp/providers.go
  web/src/components/common/ModelIcons.tsx
  web/src/components/trader/model-constants.ts
Due: go-fmt, go-vet

fix: align execution market data with strategy timeframes
  trader/auto_trader_orders.go
Due: go-fmt, go-vet

fix: refresh chart when clicking decision symbols
  web/src/pages/TraderDashboardPage.tsx
Due: none

fix: fallback chart klines to binance on empty exchange data
  api/handler_klines.go
  market/data_klines.go
Due: go-fmt, go-vet

docs: add unified trading protection design plan
  docs/DEVLOG.md
  docs/TODO.md
  docs/TRADING_PROTECTION_UNIFIED_PLAN_CN.md
Due: none

feat: update default MiniMax model to M2.7
  api/handler_ai_model.go
  mcp/provider/minimax.go
  mcp/providers.go
  web/src/components/trader/model-constants.ts
Due: go-fmt, go-vet

feat: add phase-1 trading protection execution loop
  api/strategy.go
  docs/DEVLOG.md
  docs/TODO.md
  store/strategy.go
  trader/auto_trader_orders.go
  trader/protection_capabilities.go
  trader/protection_execution.go
  trader/protection_plan.go
Due: go-fmt, go-vet

feat: add strategy protection editor
  docs/DEVLOG.md
  docs/TODO.md
  web/src/components/strategy/ProtectionEditor.tsx
  web/src/pages/StrategyStudioPage.tsx
  web/src/types/strategy.ts
Due: none

docs: add system trust boundary and chain closure
  api/server.go
  docs/DEVLOG.md
  docs/SYSTEM_CHAINS_CLOSURE_CN.md
  docs/SYSTEM_TRUST_BOUNDARY_CN.md
  docs/TODO.md
  main.go
  manager/trader_manager.go
  trader/auto_trader_loop.go
  trader/auto_trader_risk.go
Due: go-fmt, go-vet

docs: expand kernel annotations and architecture notes
  docs/ARCHITECTURE_CN.md
  docs/DEVLOG.md
  docs/TODO.md
  kernel/engine.go
  kernel/engine_position.go
  kernel/prompt_builder.go
Due: go-fmt, go-vet

docs: add module api and data model guides
  docs/API_PAGE_MAPPING_CN.md
  docs/DATA_MODEL_RELATIONS_CN.md
  docs/MODULE_RESPONSIBILITIES_CN.md
Due: none

fix: isStockSymbol misclassifies crypto symbols (BTC/ETH/SOL) as stock tickers
  agent/tools.go
  agent/tools_test.go
  api/handler_trader_status.go
  trader/auto_trader_orders.go
  trader/lighter/account.go
Due: go-fmt, go-vet

feat(alpaca): comprehensive integration tests with mock server
  trader/alpaca/trader_test.go
Due: go-fmt, go-vet

fix: enforce tool-based data only — Agent can no longer fabricate prices
  agent/agent.go
  agent/scheduler.go
  agent/web.go
  main.go
Due: go-fmt, go-vet

robustness: shared HTTP client, HTTP status checks, abort controller, streaming perf
  agent/brain.go
  agent/scheduler.go
  agent/sentinel.go
  agent/web.go
  web/src/pages/AgentChatPage.tsx
Due: go-fmt, go-vet

fix: goroutine leak on shutdown, unsafe type assertions, redundant API calls
  agent/agent.go
  market/api_client.go
  market/historical.go
  trader/bybit/trader_orders.go
Due: go-fmt, go-vet

refactor: propagate request context in kline handlers, extract MessageRenderer component
  api/handler_klines.go
  web/src/components/agent/MessageRenderer.tsx
  web/src/pages/AgentChatPage.tsx
Due: go-fmt, go-vet

feat(ui): final polish — ChatGPT-style welcome screen, enhanced markdown, typing indicator
  web/src/components/agent/MarketTicker.tsx
  web/src/pages/AgentChatPage.tsx
Due: none

feat: real-time data for A-shares, HK stocks, and US stocks
  agent/stock.go
Due: go-fmt, go-vet

fix: consistent safe type helpers in auto_trader, log emergency exit errors
  trader/auto_trader_decision.go
  trader/auto_trader_grid.go
  trader/auto_trader_grid_orders.go
  trader/auto_trader_grid_regime.go
  trader/auto_trader_loop.go
  trader/auto_trader_orders.go
  trader/auto_trader_risk.go
  trader/helpers.go
Due: go-fmt, go-vet

security: add safe.ReadAllLimited — bound all HTTP response body reads to 10MB
  agent/stock.go
  kernel/engine.go
  market/api_client.go
  market/data.go
  market/historical.go
  mcp/client.go
  mcp/payment/x402.go
  nofxi-tasks.md
  provider/alpaca/kline.go
  provider/coinank/coinank_api/kline.go
  provider/coinank/coinank_http.go
  provider/hyperliquid/kline.go
  provider/twelvedata/kline.go
  safe/io.go
  telegram/agent/apicall.go
  trader/aster/trader.go
  trader/aster/trader_account.go
  trader/bitget/trader.go
  trader/bybit/order_sync.go
  trader/bybit/trader.go
  trader/bybit/trader_account.go
  trader/bybit/trader_orders.go
  trader/hyperliquid/trader_account.go
  trader/hyperliquid/trader_orders.go
  trader/hyperliquid/trader_sync.go
  trader/indodax/trader.go
  trader/kucoin/trader.go
  trader/lighter/account.go
  trader/lighter/orders.go
  trader/lighter/trader.go
  trader/lighter/trading.go
  trader/okx/trader.go
  wallet/usdc.go
Due: go-fmt, go-vet

feat(nofxi): full i18n bilingual support (zh/en)
  nofxi/internal/agent/agent.go
  nofxi/internal/agent/i18n.go
  nofxi/internal/interaction/web.go
  nofxi/web/index.html
Due: go-fmt, go-vet

feat: wire NOFXi Agent into Telegram bot
  main.go
  telegram/bot.go
Due: go-fmt, go-vet

fix: Lighter CancelStopOrders now filters by TriggerPrice, proxyBinance checks upstream status
  agent/web.go
  trader/lighter/orders.go
Due: go-fmt, go-vet

fix: prevent panics from unsafe type assertions in trading code + add request body limit
  api/server.go
  trader/aster/trader_account.go
  trader/aster/trader_orders.go
  trader/auto_trader_decision.go
  trader/auto_trader_loop.go
  trader/auto_trader_risk.go
  trader/binance/futures_orders.go
  trader/binance/futures_positions.go
  trader/bitget/trader_orders.go
  trader/bybit/trader_orders.go
  trader/gate/trader_orders.go
  trader/helpers.go
  trader/hyperliquid/trader_orders.go
  trader/kucoin/trader_orders.go
  trader/okx/trader_orders.go
  web/src/lib/config.ts
Due: go-fmt, go-vet

fix: Agent answers questions first, setup only when asked
  agent/agent.go
  agent/onboard.go
  agent/router.go
Due: go-fmt, go-vet

feat: init nofxi - AI Trading Agent module
  nofxi/.gitignore
  nofxi/LICENSE
  nofxi/README.md
  nofxi/config.example.yaml
  nofxi/go.mod
  nofxi/go.sum
  nofxi/internal/agent/agent.go
  nofxi/internal/agent/config.go
  nofxi/internal/agent/router.go
  nofxi/internal/agent/scheduler.go
  nofxi/internal/agent/watchcmd.go
  nofxi/internal/execution/bridge.go
  nofxi/internal/execution/execution.go
  nofxi/internal/interaction/formatter.go
  nofxi/internal/interaction/interaction.go
  nofxi/internal/interaction/telegram.go
  nofxi/internal/interaction/web.go
  nofxi/internal/memory/memory.go
  nofxi/internal/memory/models.go
  nofxi/internal/memory/store.go
  nofxi/internal/perception/market.go
  nofxi/internal/perception/perception.go
  nofxi/internal/thinking/engine.go
  nofxi/internal/thinking/llm.go
  nofxi/internal/thinking/thinking.go
Due: go-fmt, go-vet, go-mod-tidy

security+reliability: remove public decrypt endpoint, add panic recovery for goroutines
  api/handler_trader.go
  api/server.go
  manager/trader_manager.go
  safe/go.go
Due: go-fmt, go-vet

fix(nofxi): prevent IME composition enter from sending message
  nofxi/web/index.html
Due: none

docs: update nofxi-tasks.md — record 11:22 batch
  nofxi-tasks.md
Due: none

security: sanitize internal error messages in API responses
  api/handler_ai_cost.go
  api/handler_trader.go
  nofxi-tasks.md
Due: go-fmt, go-vet

chore: remove ~100 debug console.log statements from frontend
  web/src/App.tsx
  web/src/components/charts/AdvancedChart.tsx
  web/src/components/charts/ChartTabs.tsx
  web/src/components/charts/ChartWithOrders.tsx
  web/src/components/charts/ChartWithOrdersSimple.tsx
  web/src/components/charts/ComparisonChart.tsx
  web/src/components/trader/AITradersPage.tsx
Due: none

feat: dynamic crypto detection, trade history tool, fix 9 ticker leaks
  agent/agent.go
  agent/tools.go
  trader/aster/trader_sync.go
  trader/binance/order_sync.go
  trader/bitget/order_sync.go
  trader/bybit/order_sync.go
  trader/gate/order_sync.go
  trader/hyperliquid/order_sync.go
  trader/kucoin/order_sync.go
  trader/lighter/order_sync.go
  trader/okx/order_sync.go
Due: go-fmt, go-vet

security: upgrade vulnerable deps + refactor AgentChatPage
  go.mod
  go.sum
  web/src/components/agent/ChatInput.tsx
  web/src/components/agent/ChatMessages.tsx
  web/src/components/agent/WelcomeScreen.tsx
  web/src/pages/AgentChatPage.tsx
Due: go-mod-tidy

feat(nofxi): K-line chart with TradingView lightweight-charts
  nofxi/internal/interaction/kline.go
  nofxi/internal/interaction/web.go
  nofxi/web/index.html
Due: go-fmt, go-vet
