Repository NoFxAiOS/nofx: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy

.pre-commit-config.yaml:

# Pre-commit configuration for NOFX
# See https://pre-commit.com for more information
# Note: This project also uses Husky + lint-staged in web/ directory
repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: '.*tsconfig\.json$'  # Exclude tsconfig.json files that support comments
      - id: check-toml
      - id: check-added-large-files
      - id: check-merge-conflict

  # Go code quality (local hooks for better control)
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt
        args: [-w]
        language: system
        files: \.go$

      - id: go-vet
        name: go vet
        entry: bash -c 'go vet $(go list ./... | grep -v /scripts)'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

feat: add x402 payment retry logic and extend retryable status codes
  mcp/client.go
  mcp/x402.go
Due: go-fmt, go-vet

feat: add MiniMax Coding Plan support, BlockRun wallet provider, and MiniMax logo update
  api/server.go
  docs/getting-started/README.md
  docs/getting-started/blockrun-base-wallet.md
  docs/getting-started/blockrun-sol-wallet.md
  go.mod
  go.sum
  mcp/blockrun_base.go
  mcp/blockrun_sol.go
  mcp/client.go
  mcp/config.go
  mcp/minimax_client.go
  trader/auto_trader.go
  web/public/icons/blockrun.svg
  web/src/components/AITradersPage.tsx
  web/src/components/DecisionCard.tsx
  web/src/components/ModelIcons.tsx
Due: go-fmt, go-vet, go-mod-tidy

docs: sync all i18n READMEs with new autonomous AI trading assistant structure
  docs/i18n/ja/README.md
  docs/i18n/ko/README.md
  docs/i18n/ru/README.md
  docs/i18n/uk/README.md
  docs/i18n/vi/README.md
  docs/i18n/zh-CN/README.md
Due: none

feat: add claw402.ai link to Claw402 UI elements in model config page
  web/src/components/AITradersPage.tsx
Due: none

Remove DebateArenaPage - deprecated in dev branch
  web/src/pages/DebateArenaPage.tsx
Due: none

fix: remove DebateArenaPage references from App.tsx and routing
  web/src/App.tsx
  web/src/components/HeaderBar.tsx
  web/src/pages/LandingPage.tsx
Due: none

fix: add web/src/lib/api/ split files and fix .gitignore
  .gitignore
  web/src/lib/api/backtest.ts
  web/src/lib/api/config.ts
  web/src/lib/api/data.ts
  web/src/lib/api/helpers.ts
  web/src/lib/api/index.ts
  web/src/lib/api/strategies.ts
  web/src/lib/api/telegram.ts
  web/src/lib/api/traders.ts
Due: none

fix: increase x402 payment timeout to 5min and add 402 re-sign logic
  mcp/payment/blockrun_base.go
  mcp/payment/blockrun_sol.go
  mcp/payment/claw402.go
  mcp/payment/x402.go
Due: go-fmt, go-vet

fix: resolve merge conflicts - use dev mcp structure, remove debate module
  api/debate.go
  debate/engine.go
  experience/experience.go
  mcp/blockrun_base.go
  mcp/blockrun_sol.go
  mcp/claude_client.go
  mcp/claw402.go
  mcp/gemini_client.go
  mcp/grok_client.go
  mcp/hooks.go
  mcp/interface.go
  mcp/kimi_client.go
  mcp/minimax_client.go
  mcp/openai_client.go
  mcp/x402.go
  trader/aster/trader_sync.go
  trader/bybit/trader_orders.go
  web/src/components/AdvancedChart.tsx
  web/src/components/ChartWithOrders.tsx
  web/src/components/ChartWithOrdersSimple.tsx
  web/src/components/DeepVoidBackground.tsx
  web/src/components/LoginRequiredOverlay.tsx
  web/src/components/MetricTooltip.tsx
  web/src/components/PositionHistory.tsx
  web/src/components/SetupPage.tsx
  web/src/components/WhitelistFullPage.tsx
Due: go-fmt, go-vet

fix: disable outer retry for x402 payment providers to prevent duplicate charges
  mcp/payment/blockrun_base.go
  mcp/payment/blockrun_sol.go
  mcp/payment/claw402.go
Due: go-fmt, go-vet

fix: remove duplicate old web components - use dev versions
  web/src/components/AITradersPage.tsx
  web/src/components/BacktestPage.tsx
  web/src/components/ChartTabs.tsx
  web/src/components/CompetitionPage.tsx
  web/src/components/LoginPage.tsx
  web/src/components/RegisterPage.tsx
  web/src/components/traders/ExchangeConfigModal.tsx
Due: none

feat: restore hardcoded risk parameters - breakeven, trailing stop, stop loss
  store/strategy.go
  web/src/components/strategy/RiskControlEditor.tsx
  web/src/types.ts
  web/src/types/strategy.ts
Due: go-fmt, go-vet

feat: add risk params to prompt - breakeven(3%), stop-loss(-5%), trailing(30%), update_stop_loss
  kernel/prompt_builder.go
Due: go-fmt, go-vet

fix: use dynamic config values in prompt instead of hardcoded
  kernel/prompt_builder.go
Due: go-fmt, go-vet

feat: add breakeven/trailing params to prompt preview API
  kernel/engine_prompt.go
Due: go-fmt, go-vet

feat: filter klines and symbols by user enabled exchanges
  api/handler_klines.go
Due: go-fmt, go-vet

feat(kernel): enhance decision validation and user prompts with new risk parameters
  kernel/engine.go
Due: go-fmt, go-vet

feat: add updated_stop_loss field to DecisionAction for dynamic stop-loss display
  store/decision.go
  web/src/components/trader/DecisionCard.tsx
  web/src/i18n/translations.ts
  web/src/types.ts
Due: go-fmt, go-vet

feat(kernel): enhance decision validation and sizing adjustments for trading decisions
  kernel/engine.go
  kernel/macro.go
  kernel/schema.go
  kernel/validate_test.go
Due: go-fmt, go-vet

docs: add MiniMax to AI Models documentation
  README.md
  docs/i18n/ja/README.md
  docs/i18n/ko/README.md
  docs/i18n/ru/README.md
  docs/i18n/uk/README.md
  docs/i18n/vi/README.md
  docs/i18n/zh-CN/README.md
Due: none

feat(kernel): add risk/reward ratio to decision structure and validation
  kernel/engine.go
  kernel/validate_test.go
Due: go-fmt, go-vet

feat(kernel): enhance position management with entry thesis tracking
  kernel/engine.go
  store/decision.go
  store/position.go
  trader/auto_trader.go
Due: go-fmt, go-vet

fix(kernel): improve coin exclusion logic with normalization checks
  kernel/engine.go
  kernel/macro.go
Due: go-fmt, go-vet

refactor(kernel): streamline coin exclusion handling and improve macro brief generation
  kernel/engine.go
  kernel/macro.go
Due: go-fmt, go-vet

feat(strategy): add Multi-Turn AI Trading as new strategy type
  api/strategy.go
  api/strategy_test.go
  backtest/runner.go
  debate/engine.go
  docs/architecture/BACKTEST_MODULE.md
  kernel/engine.go
  kernel/engine_test.go
  store/strategy.go
  store/strategy_test.go
  trader/auto_trader.go
  web/src/pages/StrategyStudioMacroMicro.test.ts
  web/src/pages/StrategyStudioPage.tsx
  web/src/types.ts
Due: go-fmt, go-vet

feat: add X-Client-ID header for claw402 monitoring (#1414)
  mcp/payment/x402.go
Due: go-fmt, go-vet

fix: strategy studio black screen on create and remove stale benefit3 ref
  web/src/components/auth/LoginRequiredOverlay.tsx
  web/src/pages/StrategyStudioPage.tsx
Due: none

fix: strategy studio crash due to mismatched translation key oiTopDesc→oi_topDesc
  web/src/i18n/strategy-translations.ts
Due: none

fix: resolve TypeScript build errors from dev merge
  web/src/i18n/strategy-translations.ts
  web/src/types.ts
Due: none

feat: add streaming support for x402 payment flow to bypass Cloudflare timeout
  mcp/client.go
  mcp/payment/claw402.go
  mcp/payment/x402.go
Due: go-fmt, go-vet

docs: add x402 streaming payment architecture documentation
  docs/architecture/X402_STREAMING_PAYMENT.md
Due: none

feat: add channel dimension to GA4 AI usage tracking
  config/config.go
  mcp/client.go
  telemetry/experience.go
Due: go-fmt, go-vet

fix: set temperature=1 for kimi provider (k2.5 model restriction)
  mcp/provider/kimi.go
Due: go-fmt, go-vet

feat(mcp): add context length guard to prevent oversized requests
  mcp/client.go
  mcp/config.go
  mcp/context_guard.go
  mcp/context_guard_test.go
  mcp/options.go
Due: go-fmt, go-vet
