Repository NoFxAiOS/nofx: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy

.pre-commit-config.yaml:

# Pre-commit configuration for NOFX
# See https://pre-commit.com for more information
# Note: This project also uses Husky + lint-staged in web/ directory
repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: '.*tsconfig\.json$'  # Exclude tsconfig.json files that support comments
      - id: check-toml
      - id: check-added-large-files
      - id: check-merge-conflict

  # Go code quality (local hooks for better control)
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt
        args: [-w]
        language: system
        files: \.go$

      - id: go-vet
        name: go vet
        entry: bash -c 'go vet $(go list ./... | grep -v /scripts)'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

feat(kernel): add per-symbol bias, risk, conviction to macro output schema
  debate/engine.go
  kernel/engine.go
  kernel/engine_test.go
  kernel/macro.go
  kernel/macro_test.go
Due: go-fmt, go-vet

fix(market): improve primary timeframe fallback logic in GetWithTimeframes
  market/data.go
Due: go-fmt, go-vet

feat(mcp): enhance response handling with stop and finish reasons
  mcp/claude_client.go
  mcp/client.go
Due: go-fmt, go-vet

fix(web): update DecisionCard to conditionally display prompts for single-turn interactions
  web/src/components/DecisionCard.tsx
Due: none

fix(backtest, kernel): enhance error handling for missing data and config checks
  backtest/datafeed.go
  kernel/engine.go
  web/src/components/DecisionCard.tsx
Due: go-fmt, go-vet

fix(kernel): ensure hold/wait decisions have reasoning in multi-turn flow
  kernel/engine.go
Due: go-fmt, go-vet

fix(backtest): set cycle number and entry time for positions
  backtest/runner.go
  kernel/macro.go
Due: go-fmt, go-vet

fix(trader): use cycle number in prompt, add entry time and holding duration to positions
  backtest/runner.go
  kernel/macro.go
  store/decision.go
  trader/auto_trader.go
Due: go-fmt, go-vet

Add update_stop_loss action field and NO TRADE warning
  debate/engine.go
  kernel/engine.go
  web/src/components/DecisionCard.tsx
  web/src/components/RegisterPage.tsx
  web/src/components/TraderConfigModal.tsx
  web/src/contexts/AuthContext.tsx
  web/src/i18n/strategy-translations.ts
  web/src/i18n/translations.ts
  web/src/pages/DebateArenaPage.tsx
Due: go-fmt, go-vet

Fix: emphasize use action field instead of decision
  kernel/engine.go
Due: go-fmt, go-vet

Update OpenAI default model from gpt-5.2 to gpt-5.4 (#1402)
  mcp/openai_client.go
Due: go-fmt, go-vet

fix(web): fix TypeScript build errors in AuthContext and translations
  web/src/components/TraderConfigModal.tsx
  web/src/contexts/AuthContext.tsx
  web/src/i18n/strategy-translations.ts
  web/src/i18n/translations.ts
Due: none

fix(kernel): update position summary in user prompt to include entry time and current open positions
  kernel/engine.go
Due: go-fmt, go-vet

fix(telegram): eliminate narration, add full-setup workflow and tests
  telegram/agent/agent_test.go
  telegram/agent/prompt.go
Due: go-fmt, go-vet

fix(telegram): fix claude client dispatch + strategy creation workflow
  api/server.go
  telegram/agent/prompt.go
  telegram/bot.go
Due: go-fmt, go-vet

fix(telegram): newLLMClient uses bound user's model, not any user's model
  telegram/bot.go
Due: go-fmt, go-vet

fix(auth): single-user deployment by default, no open registration
  api/server.go
  config/config.go
Due: go-fmt, go-vet

fix(start.sh): translate all user-facing text to English
  start.sh
Due: none

fix(telegram): remove 'default' user fallback — resolve user dynamically
  start.sh
  telegram/bot.go
Due: go-fmt, go-vet

Consolidate: responsive optimizations, bug fixes, and TypeScript build fixes
  api/strategy.go
  debate/engine.go
  kernel/engine.go
  market/data.go
  trader/auto_trader.go
  trader/auto_trader_grid.go
  web/src/components/AITradersPage.tsx
  web/src/components/TraderConfigModal.tsx
  web/src/components/strategy/CoinSourceEditor.tsx
  web/src/contexts/AuthContext.tsx
  web/src/i18n/translations.ts
  web/src/pages/StrategyStudioPage.tsx
  web/src/pages/TraderDashboardPage.tsx
Due: go-fmt, go-vet

feat: add MiniMax provider support
  api/backtest.go
  api/server.go
  api/strategy.go
  backtest/ai_client.go
  debate/engine.go
  mcp/minimax_client.go
  mcp/minimax_client_test.go
  mcp/options.go
  trader/auto_trader.go
  web/public/icons/minimax.svg
  web/src/components/AITradersPage.tsx
  web/src/components/ModelIcons.tsx
  web/src/pages/DebateArenaPage.tsx
Due: go-fmt, go-vet

feat(kernel): pass AI responses between macro-micro steps
  debate/engine.go
  kernel/engine.go
  kernel/macro.go
Due: go-fmt, go-vet

feat: add MiniMax provider support (#1406)
  api/backtest.go
  api/server.go
  api/strategy.go
  backtest/ai_client.go
  debate/engine.go
  mcp/minimax_client.go
  mcp/minimax_client_test.go
  mcp/options.go
  trader/auto_trader.go
  web/public/icons/minimax.svg
  web/src/components/AITradersPage.tsx
  web/src/components/ModelIcons.tsx
  web/src/pages/DebateArenaPage.tsx
Due: go-fmt, go-vet

refactor: single-user web-based setup — replace env config with Settings UI
  .env.example
  api/server.go
  config/config.go
  start.sh
  store/user.go
  telegram/agent/agent.go
  telegram/agent/manager.go
  telegram/agent/prompt.go
  telegram/bot.go
  web/src/App.tsx
  web/src/components/AITradersPage.tsx
  web/src/components/HeaderBar.tsx
  web/src/components/RegisterPage.tsx
  web/src/components/SetupPage.tsx
  web/src/components/landing/LoginModal.tsx
  web/src/lib/config.ts
  web/src/pages/SettingsPage.tsx
Due: go-fmt, go-vet

fix(security): block SSRF via custom AI model URL
  api/server.go
  mcp/config.go
  mcp/options.go
Due: go-fmt, go-vet

Update: replace minimax.svg with Minimax logo
  web/public/icons/minimax.svg
Due: none

Update: replace minimax.svg with Minimax logo (#1407)
  web/public/icons/minimax.svg
Due: none

feat: add BlockRun wallet provider for pay-per-request AI access
  api/server.go
  docs/getting-started/README.md
  docs/getting-started/blockrun-base-wallet.md
  docs/getting-started/blockrun-sol-wallet.md
  go.mod
  go.sum
  mcp/blockrun_base.go
  mcp/blockrun_sol.go
  trader/auto_trader.go
  web/public/icons/blockrun.svg
  web/src/components/AITradersPage.tsx
  web/src/components/ModelIcons.tsx
Due: go-fmt, go-vet, go-mod-tidy

feat: add BlockRun wallet provider for pay-per-request AI access (#1408)
  api/server.go
  docs/getting-started/README.md
  docs/getting-started/blockrun-base-wallet.md
  docs/getting-started/blockrun-sol-wallet.md
  go.mod
  go.sum
  mcp/blockrun_base.go
  mcp/blockrun_sol.go
  trader/auto_trader.go
  web/public/icons/blockrun.svg
  web/src/components/AITradersPage.tsx
  web/src/components/ModelIcons.tsx
Due: go-fmt, go-vet, go-mod-tidy

refactor(api): streamline AI client initialization by consolidating SetAPIKey calls
  api/strategy.go
Due: go-fmt, go-vet

feat: redesign Claw402 model config UI — friendly wallet setup, USDC guide, official logo, nginx no-cache for index.html
  nginx/nginx.conf
  web/public/icons/claw402.png
  web/public/icons/claw402.svg
  web/src/components/AITradersPage.tsx
  web/src/components/ModelIcons.tsx
Due: none

chore: simplify PR template (OpenClaw-style)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat: restructure README — autonomous AI trading assistant, restore exchange/model referral links
  README.md
Due: none

docs: sync all i18n READMEs with new autonomous AI trading assistant structure
  docs/i18n/ja/README.md
  docs/i18n/ko/README.md
  docs/i18n/ru/README.md
  docs/i18n/uk/README.md
  docs/i18n/vi/README.md
  docs/i18n/zh-CN/README.md
Due: none

feat: add claw402.ai link to Claw402 UI elements in model config page
  web/src/components/AITradersPage.tsx
Due: none

refactor: remove all Debate Arena feature code
  README.md
  api/debate.go
  api/server.go
  debate/engine.go
  docs/architecture/DEBATE_MODULE.md
  docs/architecture/DEBATE_MODULE.zh-CN.md
  docs/architecture/README.md
  docs/architecture/README.zh-CN.md
  docs/i18n/vi/README.md
  docs/i18n/zh-CN/README.md
  manager/trader_manager.go
  store/ai_model.go
  store/debate.go
  trader/auto_trader.go
  web/src/App.tsx
  web/src/components/HeaderBar.tsx
  web/src/components/landing/brand/BrandFeatures.tsx
  web/src/data/faqData.ts
  web/src/i18n/translations.ts
  web/src/lib/api.ts
  web/src/pages/DebateArenaPage.tsx
  web/src/pages/LandingPage.tsx
  web/src/types.ts
Due: go-fmt, go-vet
